<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.totoro.ssm.IDao.CountryMapper" >
  <resultMap id="BaseResultMap" type="org.totoro.ssm.model.Country" >
    <id column="country_id" property="countryId" jdbcType="SMALLINT" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="last_update" property="lastUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    country_id, country, last_update
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from country
    where country_id = #{countryId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from country
    where country_id = #{countryId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="org.totoro.ssm.model.Country" >
    insert into country (country_id, country, last_update
      )
    values (#{countryId,jdbcType=SMALLINT}, #{country,jdbcType=VARCHAR}, #{lastUpdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.totoro.ssm.model.Country" >
    insert into country
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        country_id,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="lastUpdate != null" >
        last_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="countryId != null" >
        #{countryId,jdbcType=SMALLINT},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null" >
        #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.totoro.ssm.model.Country" >
    update country
    <set >
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdate != null" >
        last_update = #{lastUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where country_id = #{countryId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.totoro.ssm.model.Country" >
    update country
    set country = #{country,jdbcType=VARCHAR},
      last_update = #{lastUpdate,jdbcType=TIMESTAMP}
    where country_id = #{countryId,jdbcType=SMALLINT}
  </update>
</mapper>